{% extends '_base.html' %}
{% load crispy_forms_tags %}
{% load custom_tags %}
{% load static %}
{% block title %} {{ blog.title }} {% endblock title %}

{% block content %}
    <!--Had to add it here because it wasn't working in the _base.html file-->
    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <!-- Edit Comment Modal -->
    <div class="modal fade" id="editCommentModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Edit Comment</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="commentModelBody">
                    {% include 'blog_detail_components/comment_edit_form.html' %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-4" style="width: 80%;">
        <div class="row mb-4" id="grid-container">
            <div class="col-sm-1 item-a my-auto">
                <i class="bi bi-person-circle" style="font-size: 2.5em; color: black;"></i>
            </div>
            <div class="text-body-secondary col-sm-10 text-start d-flex flex-column pt-2 item-b">
                <div class="fw-bold h6 mb-0">{{ blog.author.get_full_name }}</div>
                <div>{{ blog.date|date:"l, jS F Y, f A" }}</div>
            </div>
            <div class="col-sm-1 item-c">
                {% if blog.author.pk == request.user.pk %}
                <div class="col-1">
                    <div class="btn-group dropstart">
                        <div class="meat-balls-icon text-center" data-bs-toggle="dropdown"
                            aria-expanded="false" aria-label="Click to delete or edit blog">
                            <i class="bi bi-three-dots" style="font-size: 1rem; color: black;"></i>
                        </div>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item" href="{% url 'blog_edit' blog.pk %}">Edit blog</a>
                            </li>
                            <li>
                                <!-- Button trigger delete blog modal -->
                                <button type="button" class="btn dropdown-item" data-bs-toggle="modal"
                                    data-bs-target="#staticBackdrop{{ blog.pk }}">
                                    Delete Blog
                                </button>
                            </li>
                        </ul>
                    </div>
        
                    <!-- Modal -->
                    <div class="modal fade" id="staticBackdrop{{ blog.pk }}" data-bs-backdrop="static" data-bs-keyboard="false"
                        tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Delete Blog?</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    This can&apos;t be undone and the blog will be removed from your profile, and from search
                                    results.
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <a class="btn btn-danger" href="{% url 'blog_delete' blog.pk %}"
                                        id="delete-blog-link-{{ blog.pk }}" aria-hidden="true">Delete</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
        <h1> {{blog.title}} </h1>
        <p> {{ blog.body | markdown | safe }} </p>

        <div id="blog_{{ blog.pk }}_detail_reaction_section">
            {% include 'blog_detail_components/reaction_section.html' %}
        </div>


        <form action="" method="post" id="comment-input-box-{{ blog.id }}" data-id="{{ blog.id }}" data-href="{% url 'comment_new' blog.pk blog.slug %}" onsubmit="submitCommentForm(this);">
            {% csrf_token %}
            {{ form|crispy }}
            <button class="btn btn-success ms-2" type="submit">Add Comment</button>
        </form>

        <div id="comment-section-{{ blog.pk }}" data-has-comments="{% if comments %}true{% else %}false{% endif %}">
            {% for comment in comments %}

            {% include 'blog_detail_components/comment.html' %}
            
            {% empty %}
            <p>No comments entered yet!</p>
            {% endfor %}
        </div>
        
        <hr>
    </div>

    <!-- Edit Comment Modal JS -->
    {% if user.is_authenticated %}
        <script src="{% static 'js/edit_comment_modal.js' %}"></script>
    {% else %}
        <script src="{% static 'js/login_required.js' %}"></script>
    {% endif %}
{% endblock content %}