<div class="row text-center">
    <h2 class="col-11">{{ blog.title }}</h2>
    {% if blog.author.pk == request.user.pk %}
    <div class="col">
        <div class="btn-group dropstart">
            <button type="button" class="btn btn-link" data-bs-toggle="dropdown" aria-expanded="false">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-three-dots"
                    viewBox="0 0 16 16">
                    <path
                        d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3" />
                </svg>
            </button>
            <ul class="dropdown-menu">
                <li>
                    <a class="dropdown-item" href="{% url 'blog_edit' blog.pk %}">Edit blog</a>
                </li>
                <li>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn dropdown-item" data-bs-toggle="modal" data-bs-target="#staticBackdrop{{ blog.pk }}">
                        Delete Blog
                    </button>
                </li>
            </ul>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="staticBackdrop{{ blog.pk }}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="staticBackdropLabel">Delete Blog?</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        This can&apos;t be undone and the blog will be removed from your profile, and from search results.
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-danger" onclick="return deleteBlog({{ blog.pk }});">
                            Delete
                        </button>
                        <a href="{% url 'blog_delete' blog.pk %}" id="delete-blog-link-{{ blog.pk }}" aria-hidden="true"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</div>
<p>{{ blog.body }}</p>
<p>Created by {{ blog.author.get_full_name }} on {{ blog.date }}</p>
