{% load custom_tags %}
<div class="row">
    <!--Card starts here-->
    <div class="card">
        <div class="card-body">
            <div class="row mb-4" id="grid-container">
                <div class="col-sm-1 item-a">
                    <i class="bi bi-person-circle" style="font-size: 2.5em; color: black;"></i>
                </div>
                <div class="card-subtitle text-body-secondary col-sm-10 text-start d-flex flex-column pt-3 item-b">
                    <div class="fw-bold h6 mb-0">{{ blog.author.get_full_name }}</div>
                    <div>{{ blog.date|date:"l, jS F Y, f A" }}</div>
                </div>
                <div class="col-sm-1 item-c">
                    {% if blog.author.pk == request.user.pk %}
                    <div class="col-1">
                        <div class="btn-group dropstart">
                            <div type="button" class="meat-balls-icon text-center" data-bs-toggle="dropdown" aria-expanded="false"
                                aria-label="Click to delete or edit blog">
                                <i class="bi bi-three-dots" style="font-size: 1rem; color: black;"></i>
                            </div>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="dropdown-item" href="{% url 'blog_edit' blog.pk %}">Edit blog</a>
                                </li>
                                <li>
                                    <!-- Button trigger modal -->
                                    <button type="button" class="btn dropdown-item" data-bs-toggle="modal"
                                        data-bs-target="#staticBackdrop{{ blog.pk }}">
                                        Delete Blog
                                    </button>
                                </li>
                            </ul>
                        </div>
                    
                        <!-- Modal -->
                        <div class="modal fade" id="staticBackdrop{{ blog.pk }}" data-bs-backdrop="static" data-bs-keyboard="false"
                            tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="staticBackdropLabel">Delete Blog?</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        This can&apos;t be undone and the blog will be removed from your profile, and from search results.
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        <a class="btn btn-danger" href="{% url 'blog_delete' blog.pk %}" id="delete-blog-link-{{ blog.pk }}"
                                            aria-hidden="true">Delete</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
            <h2 class="card-title h5">{{ blog.title }}</h2>
            
            <div class="card-text">
                {% with blog.body|truncatewords_60 as blog_body %}

                {% if "```" in blog_body%}
                    {% total_backticks blog_body as blog_body_total_backticks %} 
                    {% if blog_body_total_backticks|divisibleby:"2" is not True %}
                        {% close_code blog_body as blog_body_code_closed %}
                        {{ blog_body_code_closed | markdown | safe }}
                    {% else %}
                        {{ blog_body | markdown | safe }}
                    {% endif %}
                {% else %}
                    {{ blog_body }}
                {%endif%}
                {% endwith %}
                {% if blog.body|wordcount > 60 %}
                <a href="{% url 'blog_detail' blog.pk blog.slug %}" class="text-decoration-none">more</a>
                {% endif %}
            </div>

            <div>
                
            </div>
            <hr>
            <div id="blog_{{ blog.pk }}_list_item_reaction_section">
                {% include 'blog_list_components/reaction_section.html' %}
            </div>
        </div>
    </div>
    
</div>

