<div class="container mt-4" style="width: 80%;">
    <div class="row mb-4" id="grid-container">
        <div class="col-sm-1 item-a my-auto">
            <i class="bi bi-person-circle" style="font-size: 2.2em; color: black;"></i>
        </div>
        <div class="text-body-secondary col-sm-10 text-start d-flex flex-column pt-2 item-b">
            <div class="fw-bold h6 mb-0">{{ comment.author.get_full_name }}</div>
            <div>{{ comment.created_at|date:"l, jS F Y, f A" }}</div>
        </div>
        <div class="col-sm-1 item-c">
            {% if comment.author.pk == request.user.pk %}
            <div class="col-1">
                <div class="btn-group dropstart">
                    <button type="button" class="btn btn-link meat-balls-icon" data-bs-toggle="dropdown"
                        aria-expanded="false" aria-label="Click to delete or edit comment">
                        <i class="bi bi-three-dots" style="font-size: 1rem; color: black;"></i>
                    </button>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item" href="blogs/{{ blog.pk }}/{{ comment.pk }}/edit/">Edit Comment</a>
                        </li>
                        <li>
                            <!-- Button trigger modal -->
                            <button type="button" class="btn dropdown-item" data-bs-toggle="modal"
                                data-bs-target="#staticBackdrop{{ comment.pk }}">
                                Delete Comment
                            </button>
                        </li>
                    </ul>
                </div>

                <!-- Modal -->
                <div class="modal fade" id="staticBackdrop{{ comment.pk }}" data-bs-backdrop="static"
                    data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="staticBackdropLabel">Delete Blog?</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                This can&apos;t be undone and the blog will be removed from your profile, and from
                                search
                                results.
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <a class="btn btn-danger" href="{{ comment.pk }}/delete/"
                                    id="delete-blog-link-{{ comment.pk }}" aria-hidden="true">Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
    <p> {{ comment.comment }} </p>

</div>